<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags e outros cabeçalhos -->
</head>
<body>
    <div class="i-pad-mini-8-3-1">
        <div class="frame-2">
            <img src="imagem-de-fundo-de-papel-de-parede-abstrato-bege-53876-102527-2.png" class="imagem-de-fundo-de-papel-de-parede-abstrato-bege-53876-102527-2" />
            <div class="frame-5">
                <div class="produtos-no-card-pio-null">Produtos no cardápio null</div>
                <div class="frame-6">
                    <!-- Cabeçalhos da tabela -->
                    <div class="frame-8">
                        <div class="status-qtd-em-estoque">
                            Status<br />Qtd em estoque
                        </div>
                    </div>
                    <!-- ... outros cabeçalhos ... -->
                </div>
                {% for produto in produtos %}
                <div class="frame-72">
                    <div class="frame-8">
                        <div class="status-qtd-em-estoque">
                            {{ produto.disponibilidade }}<br />{{ produto.disponibilidade }}
                        </div>
                    </div>
                    <!-- Adicione as tags de imagem para exibir a foto do produto -->
                    <div class="frame-7">
                        <div class="foto">
                            <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" />
                        </div>
                    </div>
                    <div class="frame-9">
                        <div class="disponibilizar-excluir-editar-informa-es">
                            <a href="#">Disponibilizar</a><br />
                            <a href="#">Excluir</a><br />
                            <a href="#">Editar informações</a>
                        </div>
                    </div>
                    <div class="frame-10">
                        <div class="nome-do-produto-disponibilidade-pre-o">
                            {{ produto.nome }}<br />{{ produto.disponibilidade }}<br />R$ {{ produto.preco }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="frame-1">
            <div class="ger-ncia-de-produtos">Gerência de produtos</div>
            <div class="frame-3">
                <img class="image-1" src="image-1.png" />
            </div>
            <div class="frame-4">
                <img class="image-2" src="image-2.png" />
            </div>
        </div>
    </div>
</body>
</html>
