h2 {
   
    background-color:#CACACA; 
    border: none;
    color: rgb(10, 8, 8);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    outline-color: rgb(10, 1, 1)(255, 225, 0);
    outline-width: thin;
    font-family: Tahoma, Verdana, sans-serif;

    border: 2px solid#202022;
    outline-style: solid;
}

body {
    background-color:  #DEEFE7;;
}
  
h1 {

    background-color: #CACACA; 
    border: none;
    color: rgb(10, 8, 8);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    outline-color: rgb(10, 1, 1)(255, 225, 0);
    outline-width: thin;
    font-family: Tahoma, Verdana, sans-serif;

    border: 2px solid #202022;
    outline-style: solid;


   
  }

