h2 {
   
    background-color:#90E0EF; 
    border: none;
    color: rgb(10, 8, 8);
    padding: 30px 660px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;

    outline-color: #90E0EF;
    outline-width: thin;
    font-family: "Lucida Console", "Courier New", monospace;
    


    border: 2px solid #90E0EF;
    outline-style: solid;
}

body {
    background-color:  #e0e1dd;
    
}
  
ol {

    background-color: #90E0EF; 
    border: none;
    color: rgb(10, 8, 8);
    padding: 80px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    outline-color: #90E0EF;
    outline-width: thin;
    font-family: Tahoma, Verdana, sans-serif;

    border: 2px solid #90E0EF;
    outline-style: solid;


   
  }

