<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>cardapio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/home/line/Documentos/projetos/rango-pi-ii/templates/cardapio/css/cardapio.css">


    </head>
    <body>
        <h2 style= > cardapio </h2> 
        <form>    
            <ol>
                <li>
                    <div> 
                        <h1 style = "font-size:100%">Batata Frita</h1>
                        <button>+</button>  
                        <button>-</button>
                       
                    </div>
                </li>
            </ol>
        </form>
   </body>
</html>

