<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gerência</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home/line/Documentos/projetos/rango-pi-ii/templates/cardapio/css/gerencia.css"
    />
  </head>

  <body>
    <form>
      <ol>
        <label> Gerência de Mesas </label> 
        <div> 
          <label> Número de Mesas: 15 </label>
          <button>editar</button>
          </div>
          <div>
          <label> Habilitar número de mesas para clientes </label>
          </div>
        </div>
      </ol>
    </form>
  </body>
</html>
